* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .app__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-inline: 1px solid var(--border);
    width: 60%;
    height: 100%;
  }
}

.admin-account__container {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
}